html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	padding: 0px;
	margin: 0px;
	background-color: #F5D29F;
}

main {
	flex: 1;
}

.bgimg {
	background-image: url(bgimg.png);
	background-size: contain;
	background-position: center;
	background-repeat: space;
	background-blend-mode: screen;
	background-color: #e1e8ec;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 12px;
}

header>section:nth-child(1) {
	flex: 1;
	display: flex;
	align-items: center;
}

header nav button {
	border-width: 0;
	border-color: #e5e7eb;
	font-family: inherit;
	font-size: 16px;
	background-color: transparent;
	cursor: pointer;
}

main {
	padding: 0 8px;
}

[id^="inputs"] input {
	width: 30px;
}

[id^="inputs"] input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	margin: 0;
}

form input[type="number"],
form input[type="text"],
form select {
	border: 1px solid black;
}


.g_slides_pub {
	--g_slides_pub_width: 86vw;
	width: var(--g_slides_pub_width);
	height: calc(var(--g_slides_pub_ratio)*var(--g_slides_pub_width));
}


@media (max-width: 767px) {
	header {
		flex-direction: column;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.bgimg {
		background-size: 50%;
	}
}

@media (min-width: 992px) {
	.bgimg {
		background-size: 33%;
	}

	.g_slides_pub {
		--g_slides_pub_width: 75vw;
	}

}


.math_equ {
	overflow-x: auto;
	display: flex;
	white-space: nowrap;
	text-align: center;
	place-items: center;
}

.num_den>span:nth-child(1) {
	border-bottom: 1.5px solid;
}